# ----------------------------
# Data (never track)
# ----------------------------
data/
raw/
processed/
archive/ 
models/
evaluation/ 

# ----------------------------
# Model artifacts
# ----------------------------
*.pt
*.pth
*.ckpt
*.onnx

# ----------------------------
# Local outputs
# ----------------------------
outputs/
logs/
*.parquet
*.csv
*.feather
*.tflite

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ----------------------------
# Environments & secrets
# ----------------------------
.env
.venv/
conda-meta/

# ----------------------------
# ML Flow
# ----------------------------
mlruns/
*.db